# generated
.ipynb_checkpoints/
__pycache__/
**my_dir/
**logs/
**models/

# file types
*.h5
*.tflite
*.zip
*.pdf

# data folders
**data/cifar-100-python

#  virtual environments
**myenv/

# temp files
**temp/

# notes
notes.txt
